.profile-inner-container {
    margin: 5%;
    text-align: left;
}

.profile-container {
    margin: 0 0 5% 0;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 200px;
    height: 200px;
}

.img-div {
    width: 200px;
    height: 200px;
}

h1 {
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 7vw;
    font-weight: 600;
    margin-bottom: 25px;
    text-align: center;
}

body {
    background: black;
}

p {
    font-weight: bold;
    color: #feda4a;
}